{"openapi":"3.0.1","info":{"title":"VES Booking API","description":"VES Booking API - Event Booking and Identity Management System","contact":{"name":"VES Booking Team","email":"support@vesbooking.com"},"license":{"name":"MIT License","url":"https://opensource.org/licenses/MIT"},"version":"v1.0.0"},"servers":[{"url":"https://ves-booking.io.vn/api","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"paths":{"/venues/{venueId}":{"get":{"tags":["venue-controller"],"operationId":"getVenueById","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVenueResponse"}}}}}},"put":{"tags":["venue-controller"],"operationId":"updateVenue","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VenueRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVenueResponse"}}}}}},"delete":{"tags":["venue-controller"],"operationId":"deleteVenue","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/venues/{venueId}/seats/manage/{seatId}":{"get":{"tags":["seat-controller"],"operationId":"getSeatById","parameters":[{"name":"seatId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSeatResponse"}}}}}},"put":{"tags":["seat-controller"],"operationId":"updateSeat","parameters":[{"name":"seatId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSeatResponse"}}}}}},"delete":{"tags":["seat-controller"],"operationId":"deleteSeat","parameters":[{"name":"seatId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/users/{userId}":{"get":{"tags":["user-controller"],"operationId":"getUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}},"put":{"tags":["user-controller"],"operationId":"updateUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}},"delete":{"tags":["user-controller"],"operationId":"deleteUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/tickets/{ticketId}/cancel":{"put":{"tags":["ticket-controller"],"operationId":"cancelTicket","parameters":[{"name":"ticketId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelTicketRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCancellationResponse"}}}}}}},"/notifications/{notificationId}/read":{"put":{"tags":["notification-controller"],"operationId":"markAsRead","parameters":[{"name":"notificationId","in":"path","required":true,"schema":{"pattern":"^[a-fA-F0-9-]{36}$","type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/notifications/read-all":{"put":{"tags":["notification-controller"],"operationId":"markAllAsRead","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/events/{eventId}":{"get":{"tags":["event-controller"],"operationId":"getEventDetails","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEventDetailResponse"}}}}}},"put":{"tags":["event-controller"],"operationId":"updateEvent","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEventDetailResponse"}}}}}},"delete":{"tags":["event-controller"],"operationId":"deleteEvent","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/cities/{cityId}":{"get":{"tags":["city-controller"],"operationId":"getCityById","parameters":[{"name":"cityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCityResponse"}}}}}},"put":{"tags":["city-controller"],"operationId":"updateCity","parameters":[{"name":"cityId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCityResponse"}}}}}},"delete":{"tags":["city-controller"],"operationId":"deleteCity","parameters":[{"name":"cityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/vouchers/validate":{"post":{"tags":["voucher-controller"],"operationId":"validateVoucher","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateVoucherRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoucherValidationResponse"}}}}}}},"/venues":{"get":{"tags":["venue-controller"],"operationId":"getAllVenues","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListVenueResponse"}}}}}},"post":{"tags":["venue-controller"],"operationId":"createVenue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VenueRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVenueResponse"}}}}}}},"/venues/{venueId}/seats/manage":{"get":{"tags":["seat-controller"],"operationId":"getSeatsByVenue","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSeatResponse"}}}}}},"post":{"tags":["seat-controller"],"operationId":"createSeat","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSeatResponse"}}}}}}},"/venues/{venueId}/seats/manage/bulk":{"post":{"tags":["seat-controller"],"operationId":"createBulkSeats","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SeatRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSeatResponse"}}}}}}},"/users":{"get":{"tags":["user-controller"],"operationId":"getUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUserResponse"}}}}}},"post":{"tags":["user-controller"],"operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/tickets/purchase":{"post":{"tags":["ticket-controller"],"operationId":"purchaseTickets","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePurchaseResponse"}}}}}}},"/roles":{"get":{"tags":["role-controller"],"operationId":"getAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRoleResponse"}}}}}},"post":{"tags":["role-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoleResponse"}}}}}}},"/permissions":{"get":{"tags":["permission-controller"],"operationId":"getAll_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPermissionResponse"}}}}}},"post":{"tags":["permission-controller"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionResponse"}}}}}}},"/favorites/{eventId}":{"post":{"tags":["favorite-controller"],"operationId":"addFavorite","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"pattern":"^[a-fA-F0-9-]{36}$","type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"delete":{"tags":["favorite-controller"],"operationId":"removeFavorite","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"pattern":"^[a-fA-F0-9-]{36}$","type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/events":{"get":{"tags":["event-controller"],"operationId":"getEvents","parameters":[{"name":"category","in":"query","required":false,"schema":{"type":"string"}},{"name":"city","in":"query","required":false,"schema":{"type":"string"}},{"name":"trending","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseEventResponse"}}}}}},"post":{"tags":["event-controller"],"operationId":"createEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEventDetailResponse"}}}}}}},"/cities":{"get":{"tags":["city-controller"],"operationId":"getAllCities","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCityResponse"}}}}}},"post":{"tags":["city-controller"],"operationId":"createCity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCityResponse"}}}}}}},"/auth/token":{"post":{"tags":["authentication-controller"],"operationId":"authenticate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthenticationResponse"}}}}}}},"/auth/register":{"post":{"tags":["authentication-controller"],"operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthenticationResponse"}}}}}}},"/auth/refresh":{"post":{"tags":["authentication-controller"],"operationId":"authenticate_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthenticationResponse"}}}}}}},"/auth/logout":{"post":{"tags":["authentication-controller"],"operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/auth/login":{"post":{"tags":["authentication-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthenticationResponse"}}}}}}},"/auth/introspect":{"post":{"tags":["authentication-controller"],"operationId":"authenticate_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntrospectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseIntrospectResponse"}}}}}}},"/admin/tickets/check-in":{"post":{"tags":["admin-ticket-controller"],"operationId":"checkInTicket","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckInRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCheckInResponse"}}}}}}},"/vouchers":{"get":{"tags":["voucher-controller"],"operationId":"getPublicVouchers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListVoucherResponse"}}}}}}},"/vouchers/my-vouchers":{"get":{"tags":["voucher-controller"],"operationId":"getUserVouchers","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUserVoucherResponse"}}}}}}},"/venues/{venueId}/seats":{"get":{"tags":["venue-controller"],"operationId":"getVenueSeating","parameters":[{"name":"venueId","in":"path","required":true,"schema":{"type":"string"}},{"name":"eventId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVenueSeatingResponse"}}}}}}},"/users/my-info":{"get":{"tags":["user-controller"],"operationId":"getMyInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/tickets":{"get":{"tags":["ticket-controller"],"operationId":"getUserTickets","parameters":[{"name":"eventId","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["ACTIVE","USED","CANCELLED","REFUNDED"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageTicketResponse"}}}}}}},"/tickets/{ticketId}":{"get":{"tags":["ticket-controller"],"operationId":"getTicketDetails","parameters":[{"name":"ticketId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTicketDetailResponse"}}}}}}},"/notifications":{"get":{"tags":["notification-controller"],"operationId":"getUserNotifications","parameters":[{"name":"unreadOnly","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseNotificationResponse"}}}}}}},"/healthz":{"get":{"tags":["health-controller"],"operationId":"health","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/favorites":{"get":{"tags":["favorite-controller"],"operationId":"getUserFavorites","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseEventResponse"}}}}}}},"/events/{eventId}/tickets":{"get":{"tags":["event-controller"],"operationId":"getEventTickets","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListTicketTypeResponse"}}}}}}},"/events/search":{"get":{"tags":["event-controller"],"operationId":"searchEvents","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageResponseEventResponse"}}}}}}},"/error-codes":{"get":{"tags":["error-code-controller"],"operationId":"getAllErrorCodes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListErrorCodeResponse"}}}}}}},"/categories":{"get":{"tags":["category-controller"],"operationId":"getAllCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCategoryResponse"}}}}}}},"/admin/tickets":{"get":{"tags":["admin-ticket-controller"],"operationId":"getAllTickets","parameters":[{"name":"userId","in":"query","required":false,"schema":{"type":"string"}},{"name":"eventId","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["ACTIVE","USED","CANCELLED","REFUNDED"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageAdminTicketResponse"}}}}}}},"/admin/tickets/{ticketId}":{"get":{"tags":["admin-ticket-controller"],"operationId":"getTicketDetails_1","parameters":[{"name":"ticketId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminTicketResponse"}}}}}}},"/admin/tickets/qr/{qrCode}":{"get":{"tags":["admin-ticket-controller"],"operationId":"getTicketByQrCode","parameters":[{"name":"qrCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminTicketResponse"}}}}}}},"/admin/orders":{"get":{"tags":["admin-order-controller"],"operationId":"getAllOrders","parameters":[{"name":"userId","in":"query","required":false,"schema":{"type":"string"}},{"name":"eventId","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","COMPLETED","CANCELLED","EXPIRED","REFUNDED"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageAdminOrderResponse"}}}}}}},"/admin/orders/{orderId}":{"get":{"tags":["admin-order-controller"],"operationId":"getOrderDetails","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminOrderResponse"}}}}}}},"/roles/{role}":{"delete":{"tags":["role-controller"],"operationId":"delete","parameters":[{"name":"role","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/permissions/{permission}":{"delete":{"tags":["permission-controller"],"operationId":"delete_1","parameters":[{"name":"permission","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}}},"components":{"schemas":{"VenueRequest":{"required":["cityId","name"],"type":"object","properties":{"name":{"type":"string"},"address":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"cityId":{"type":"string"}}},"ApiResponseVenueResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/VenueResponse"},"errorDetails":{"type":"string"}}},"CityResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"eventCount":{"type":"integer","format":"int64"}}},"VenueResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"address":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"city":{"$ref":"#/components/schemas/CityResponse"}}},"SeatRequest":{"required":["rowName","seatNumber","sectionName"],"type":"object","properties":{"sectionName":{"type":"string"},"rowName":{"type":"string"},"seatNumber":{"type":"string"}}},"ApiResponseSeatResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/SeatResponse"},"errorDetails":{"type":"string"}}},"SeatResponse":{"type":"object","properties":{"id":{"type":"string"},"sectionName":{"type":"string"},"rowName":{"type":"string"},"seatNumber":{"type":"string"},"status":{"type":"string","enum":["AVAILABLE","RESERVED","SOLD","BLOCKED"]}}},"UserUpdateRequest":{"required":["email","phone"],"type":"object","properties":{"password":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"dob":{"type":"string","format":"date"},"roles":{"type":"array","items":{"type":"string"}}}},"ApiResponseUserResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/UserResponse"},"errorDetails":{"type":"string"}}},"PermissionResponse":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}},"RoleResponse":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"permissions":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/PermissionResponse"}}}},"UserResponse":{"type":"object","properties":{"id":{"type":"string"},"username":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"dob":{"type":"string","format":"date"},"roles":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/RoleResponse"}}}},"CancelTicketRequest":{"type":"object","properties":{"reason":{"type":"string"}}},"ApiResponseCancellationResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/CancellationResponse"},"errorDetails":{"type":"string"}}},"CancellationResponse":{"type":"object","properties":{"ticketId":{"type":"string"},"status":{"type":"string","enum":["ACTIVE","USED","CANCELLED","REFUNDED"]},"refundAmount":{"type":"integer","format":"int32"},"refundPercentage":{"type":"integer","format":"int32"},"refundStatus":{"type":"string","enum":["PENDING","PROCESSING","COMPLETED","FAILED"]},"cancelledAt":{"type":"string","format":"date-time"},"message":{"type":"string"}}},"ApiResponseVoid":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"object"},"errorDetails":{"type":"string"}}},"EventRequest":{"required":["categoryId","cityId","name","slug","startDate"],"type":"object","properties":{"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"longDescription":{"type":"string"},"categoryId":{"type":"string"},"thumbnail":{"type":"string"},"images":{"type":"array","items":{"type":"string"}},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"cityId":{"type":"string"},"venueId":{"type":"string"},"venueName":{"type":"string"},"venueAddress":{"type":"string"},"currency":{"type":"string"},"isTrending":{"type":"boolean"},"organizerId":{"type":"string"},"organizerName":{"type":"string"},"organizerLogo":{"type":"string"},"terms":{"type":"string"},"cancellationPolicy":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"ticketTypes":{"type":"array","items":{"$ref":"#/components/schemas/TicketTypeRequest"}}}},"TicketTypeRequest":{"required":["available","name","price","requiresSeatSelection"],"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"price":{"type":"integer","format":"int32"},"currency":{"type":"string"},"available":{"type":"integer","format":"int32"},"maxPerOrder":{"type":"integer","format":"int32"},"benefits":{"type":"array","items":{"type":"string"}},"requiresSeatSelection":{"type":"boolean"}}},"ApiResponseEventDetailResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/EventDetailResponse"},"errorDetails":{"type":"string"}}},"CategoryResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"icon":{"type":"string"},"eventCount":{"type":"integer","format":"int64"}}},"EventDetailResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"longDescription":{"type":"string"},"thumbnail":{"type":"string"},"images":{"type":"array","items":{"type":"string"}},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"category":{"$ref":"#/components/schemas/CategoryResponse"},"city":{"$ref":"#/components/schemas/CityResponse"},"venueId":{"type":"string"},"venue":{"$ref":"#/components/schemas/VenueSeatingResponse"},"venueName":{"type":"string"},"venueAddress":{"type":"string"},"currency":{"type":"string"},"isTrending":{"type":"boolean"},"organizerId":{"type":"string"},"organizerName":{"type":"string"},"organizerLogo":{"type":"string"},"terms":{"type":"string"},"cancellationPolicy":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"ticketTypes":{"type":"array","items":{"$ref":"#/components/schemas/TicketTypeResponse"}},"status":{"type":"string","enum":["UPCOMING","ONGOING","COMPLETED","CANCELLED"]},"minPrice":{"type":"integer","format":"int32"},"maxPrice":{"type":"integer","format":"int32"},"availableTickets":{"type":"integer","format":"int32"},"isFavorite":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"RowResponse":{"type":"object","properties":{"rowName":{"type":"string"},"seats":{"type":"array","items":{"$ref":"#/components/schemas/SeatResponse"}}}},"SectionResponse":{"type":"object","properties":{"sectionName":{"type":"string"},"rows":{"type":"array","items":{"$ref":"#/components/schemas/RowResponse"}}}},"TicketTypeResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"price":{"type":"integer","format":"int32"},"currency":{"type":"string"},"available":{"type":"integer","format":"int32"},"maxPerOrder":{"type":"integer","format":"int32"},"benefits":{"type":"array","items":{"type":"string"}},"requiresSeatSelection":{"type":"boolean"}}},"VenueSeatingResponse":{"type":"object","properties":{"venueId":{"type":"string"},"venueName":{"type":"string"},"eventId":{"type":"string"},"sections":{"type":"array","items":{"$ref":"#/components/schemas/SectionResponse"}}}},"CityRequest":{"required":["name","slug"],"type":"object","properties":{"name":{"type":"string"},"slug":{"type":"string"}}},"ApiResponseCityResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/CityResponse"},"errorDetails":{"type":"string"}}},"ValidateVoucherRequest":{"required":["eventId","quantity","ticketTypeId","voucherCode"],"type":"object","properties":{"voucherCode":{"pattern":"^[A-Z0-9_-]{3,30}$","type":"string"},"eventId":{"type":"string"},"ticketTypeId":{"type":"string"},"quantity":{"minimum":1,"type":"integer","format":"int32"}}},"ApiResponseVoucherValidationResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/VoucherValidationResponse"},"errorDetails":{"type":"string"}}},"VoucherResponse":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"discountType":{"type":"string","enum":["FIXED_AMOUNT","PERCENTAGE"]},"discountValue":{"type":"integer","format":"int32"},"minOrderAmount":{"type":"integer","format":"int32"},"maxDiscount":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"usageLimit":{"type":"integer","format":"int32"},"usedCount":{"type":"integer","format":"int32"},"applicableEvents":{"type":"array","items":{"type":"string"}},"applicableCategories":{"type":"array","items":{"type":"string"}},"isPublic":{"type":"boolean"}}},"VoucherValidationResponse":{"type":"object","properties":{"isValid":{"type":"boolean"},"message":{"type":"string"},"orderAmount":{"type":"integer","format":"int32"},"discountAmount":{"type":"integer","format":"int32"},"finalAmount":{"type":"integer","format":"int32"},"voucher":{"$ref":"#/components/schemas/VoucherResponse"}}},"ApiResponseListSeatResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/SeatResponse"}},"errorDetails":{"type":"string"}}},"UserCreationRequest":{"required":["email","phone"],"type":"object","properties":{"username":{"maxLength":2147483647,"minLength":4,"type":"string"},"password":{"maxLength":2147483647,"minLength":6,"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"dob":{"type":"string","format":"date"}}},"PurchaseRequest":{"required":["eventId","paymentMethod","quantity","ticketTypeId"],"type":"object","properties":{"eventId":{"type":"string"},"ticketTypeId":{"type":"string"},"quantity":{"minimum":1,"type":"integer","format":"int32"},"seatIds":{"type":"array","items":{"type":"string"}},"voucherCode":{"type":"string"},"paymentMethod":{"type":"string","enum":["CREDIT_CARD","DEBIT_CARD","E_WALLET","BANK_TRANSFER"]}}},"ApiResponsePurchaseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PurchaseResponse"},"errorDetails":{"type":"string"}}},"PurchaseResponse":{"type":"object","properties":{"orderId":{"type":"string"},"status":{"type":"string","enum":["PENDING","COMPLETED","CANCELLED","EXPIRED","REFUNDED"]},"paymentUrl":{"type":"string"},"total":{"type":"integer","format":"int32"},"expiresAt":{"type":"string","format":"date-time"}}},"RoleRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"permissions":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"ApiResponseRoleResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/RoleResponse"},"errorDetails":{"type":"string"}}},"PermissionRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}},"ApiResponsePermissionResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PermissionResponse"},"errorDetails":{"type":"string"}}},"AuthenticationRequest":{"required":["password","username"],"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"}}},"ApiResponseAuthenticationResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/AuthenticationResponse"},"errorDetails":{"type":"string"}}},"AuthenticationResponse":{"type":"object","properties":{"token":{"type":"string"},"authenticated":{"type":"boolean"},"roles":{"type":"array","items":{"type":"string"}}}},"RefreshRequest":{"type":"object","properties":{"token":{"type":"string"}}},"LogoutRequest":{"type":"object","properties":{"token":{"type":"string"}}},"IntrospectRequest":{"type":"object","properties":{"token":{"type":"string"}}},"ApiResponseIntrospectResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/IntrospectResponse"},"errorDetails":{"type":"string"}}},"IntrospectResponse":{"type":"object","properties":{"valid":{"type":"boolean"}}},"CheckInRequest":{"required":["qrCode"],"type":"object","properties":{"qrCode":{"type":"string"}}},"AdminTicketResponse":{"type":"object","properties":{"id":{"type":"string"},"qrCode":{"type":"string"},"qrCodeImage":{"type":"string"},"status":{"type":"string","enum":["ACTIVE","USED","CANCELLED","REFUNDED"]},"purchaseDate":{"type":"string","format":"date-time"},"checkedInAt":{"type":"string","format":"date-time"},"cancelledAt":{"type":"string","format":"date-time"},"cancellationReason":{"type":"string"},"refundAmount":{"type":"integer","format":"int32"},"refundStatus":{"type":"string","enum":["PENDING","PROCESSING","COMPLETED","FAILED"]},"user":{"$ref":"#/components/schemas/UserInfo"},"order":{"$ref":"#/components/schemas/OrderInfo"},"event":{"$ref":"#/components/schemas/EventInfo"},"ticketType":{"$ref":"#/components/schemas/TicketTypeInfo"},"seat":{"$ref":"#/components/schemas/SeatInfo"}}},"ApiResponseCheckInResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/CheckInResponse"},"errorDetails":{"type":"string"}}},"CheckInResponse":{"type":"object","properties":{"ticketId":{"type":"string"},"qrCode":{"type":"string"},"status":{"type":"string","enum":["ACTIVE","USED","CANCELLED","REFUNDED"]},"checkedInAt":{"type":"string","format":"date-time"},"message":{"type":"string"},"ticketDetails":{"$ref":"#/components/schemas/AdminTicketResponse"}}},"EventInfo":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"thumbnail":{"type":"string"},"venueName":{"type":"string"},"venueAddress":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"}}},"OrderInfo":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["PENDING","COMPLETED","CANCELLED","EXPIRED","REFUNDED"]},"paymentMethod":{"type":"string","enum":["CREDIT_CARD","DEBIT_CARD","E_WALLET","BANK_TRANSFER"]},"total":{"type":"integer","format":"int32"},"currency":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"}}},"SeatInfo":{"type":"object","properties":{"id":{"type":"string"},"seatNumber":{"type":"string"},"section":{"type":"string"},"row":{"type":"string"}}},"TicketTypeInfo":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"price":{"type":"integer","format":"int32"},"currency":{"type":"string"}}},"UserInfo":{"type":"object","properties":{"id":{"type":"string"},"username":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"fullName":{"type":"string"}}},"ApiResponseListVoucherResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/VoucherResponse"}},"errorDetails":{"type":"string"}}},"ApiResponseListUserVoucherResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/UserVoucherResponse"}},"errorDetails":{"type":"string"}}},"UserVoucherResponse":{"type":"object","properties":{"id":{"type":"string"},"voucher":{"$ref":"#/components/schemas/VoucherResponse"},"isUsed":{"type":"boolean"},"usedAt":{"type":"string","format":"date-time"},"orderId":{"type":"string"},"addedAt":{"type":"string","format":"date-time"}}},"ApiResponseListVenueResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/VenueResponse"}},"errorDetails":{"type":"string"}}},"ApiResponseVenueSeatingResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/VenueSeatingResponse"},"errorDetails":{"type":"string"}}},"ApiResponseListUserResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/UserResponse"}},"errorDetails":{"type":"string"}}},"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"ApiResponsePageTicketResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageTicketResponse"},"errorDetails":{"type":"string"}}},"PageTicketResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/TicketResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"empty":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"TicketResponse":{"type":"object","properties":{"id":{"type":"string"},"eventId":{"type":"string"},"eventName":{"type":"string"},"eventThumbnail":{"type":"string"},"eventStartDate":{"type":"string","format":"date-time"},"venueName":{"type":"string"},"ticketTypeName":{"type":"string"},"seatNumber":{"type":"string"},"status":{"type":"string","enum":["ACTIVE","USED","CANCELLED","REFUNDED"]},"qrCode":{"type":"string"},"purchaseDate":{"type":"string","format":"date-time"}}},"ApiResponseTicketDetailResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/TicketDetailResponse"},"errorDetails":{"type":"string"}}},"TicketDetailResponse":{"type":"object","properties":{"id":{"type":"string"},"eventId":{"type":"string"},"eventName":{"type":"string"},"eventDescription":{"type":"string"},"eventThumbnail":{"type":"string"},"eventStartDate":{"type":"string","format":"date-time"},"eventEndDate":{"type":"string","format":"date-time"},"venueName":{"type":"string"},"venueAddress":{"type":"string"},"ticketTypeId":{"type":"string"},"ticketTypeName":{"type":"string"},"ticketTypeDescription":{"type":"string"},"ticketTypePrice":{"type":"integer","format":"int32"},"seatNumber":{"type":"string"},"qrCode":{"type":"string"},"qrCodeImage":{"type":"string"},"status":{"type":"string","enum":["ACTIVE","USED","CANCELLED","REFUNDED"]},"purchaseDate":{"type":"string","format":"date-time"},"checkedInAt":{"type":"string","format":"date-time"},"cancellationReason":{"type":"string"},"refundAmount":{"type":"integer","format":"int32"},"refundStatus":{"type":"string","enum":["PENDING","PROCESSING","COMPLETED","FAILED"]},"cancelledAt":{"type":"string","format":"date-time"}}},"ApiResponseListRoleResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/RoleResponse"}},"errorDetails":{"type":"string"}}},"ApiResponseListPermissionResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/PermissionResponse"}},"errorDetails":{"type":"string"}}},"ApiResponsePageResponseNotificationResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageResponseNotificationResponse"},"errorDetails":{"type":"string"}}},"NotificationResponse":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["TICKET_PURCHASED","EVENT_REMINDER","EVENT_CANCELLED","PROMOTION","SYSTEM"]},"title":{"type":"string"},"message":{"type":"string"},"isRead":{"type":"boolean"},"data":{"type":"object","additionalProperties":{"type":"string"}},"createdAt":{"type":"string","format":"date-time"}}},"PageResponseNotificationResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/NotificationResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"ApiResponsePageResponseEventResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageResponseEventResponse"},"errorDetails":{"type":"string"}}},"EventResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"thumbnail":{"type":"string"},"images":{"type":"array","items":{"type":"string"}},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"category":{"$ref":"#/components/schemas/CategoryResponse"},"city":{"$ref":"#/components/schemas/CityResponse"},"venueId":{"type":"string"},"venueName":{"type":"string"},"venueAddress":{"type":"string"},"currency":{"type":"string"},"isTrending":{"type":"boolean"},"organizerName":{"type":"string"},"organizerLogo":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["UPCOMING","ONGOING","COMPLETED","CANCELLED"]},"minPrice":{"type":"integer","format":"int32"},"maxPrice":{"type":"integer","format":"int32"},"availableTickets":{"type":"integer","format":"int32"},"isFavorite":{"type":"boolean"}}},"PageResponseEventResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/EventResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"ApiResponseListTicketTypeResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/TicketTypeResponse"}},"errorDetails":{"type":"string"}}},"ApiResponseListErrorCodeResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/ErrorCodeResponse"}},"errorDetails":{"type":"string"}}},"ErrorCodeResponse":{"type":"object","properties":{"name":{"type":"string"},"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"httpStatus":{"type":"integer","format":"int32"},"category":{"type":"string"}}},"ApiResponseListCityResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/CityResponse"}},"errorDetails":{"type":"string"}}},"ApiResponseListCategoryResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/CategoryResponse"}},"errorDetails":{"type":"string"}}},"ApiResponsePageAdminTicketResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageAdminTicketResponse"},"errorDetails":{"type":"string"}}},"PageAdminTicketResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminTicketResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponseAdminTicketResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/AdminTicketResponse"},"errorDetails":{"type":"string"}}},"AdminOrderResponse":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["PENDING","COMPLETED","CANCELLED","EXPIRED","REFUNDED"]},"paymentMethod":{"type":"string","enum":["CREDIT_CARD","DEBIT_CARD","E_WALLET","BANK_TRANSFER"]},"paymentUrl":{"type":"string"},"zalopayTransactionId":{"type":"string"},"expiresAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"},"user":{"$ref":"#/components/schemas/UserInfo"},"event":{"$ref":"#/components/schemas/EventInfo"},"ticketType":{"$ref":"#/components/schemas/TicketTypeInfo"},"quantity":{"type":"integer","format":"int32"},"subtotal":{"type":"integer","format":"int32"},"discount":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int32"},"currency":{"type":"string"},"voucherCode":{"type":"string"},"tickets":{"type":"array","items":{"$ref":"#/components/schemas/TicketSummary"}}}},"ApiResponsePageAdminOrderResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageAdminOrderResponse"},"errorDetails":{"type":"string"}}},"PageAdminOrderResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminOrderResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"TicketSummary":{"type":"object","properties":{"id":{"type":"string"},"qrCode":{"type":"string"},"seatNumber":{"type":"string"},"status":{"type":"string","enum":["ACTIVE","USED","CANCELLED","REFUNDED"]},"purchaseDate":{"type":"string","format":"date-time"},"checkedInAt":{"type":"string","format":"date-time"},"cancelledAt":{"type":"string","format":"date-time"}}},"ApiResponseAdminOrderResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/AdminOrderResponse"},"errorDetails":{"type":"string"}}},"ApiResponseString":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"string"},"errorDetails":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","description":"JWT Authentication. Use the /api/auth/login endpoint to get a token.","scheme":"bearer","bearerFormat":"JWT"}}}}